main {
  display: grid;
  grid-template-columns: auto 370px;
}
#shoe {
  width: 80%;
  margin: auto;
  display: grid;
  align-content: center;
  margin-left: 25px;
}
#colors {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 10px;
  border: 10px solid rgb(201, 201, 201);
  background: rgb(201, 201, 201);
  border-radius: 20px;
}
#myColors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
  height: 0;
  justify-items: center;
}

.color {
  height: 60px;
  width: 60px;
  border: 1.5px solid black;
  cursor: pointer;
}

#usersPick {
  width: auto;
  border: none;
  cursor: none;
  height: auto;
  margin: auto;
}

svg g {
  cursor: pointer;
  stroke-width: 2px;
}
svg g path:hover {
  stroke: black;
  stroke-width: 3px;
}

#shadow_Image {
  pointer-events: none;
}

h1,
h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 10px;
}
